---
layout: layouts/home.njk
---

<!--
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

-->

<div>
<div>
<ul id="socials">
  <li><a href="https://twitter.com/j2rgb">twitter</a></li>
  <li><a href="https://instagram.com/j2rgb">instagram</a></li>
  <li><a href="https://github.com/jshrake">github</a></li>
  <li><a href="https://shadertoy.com/user/j2rgb">shadertoy</a></li>
  <li><a href="https://www.vertexshaderart.com/user/jshrake">vertexshaderart</a></li>
</ul>
</div>
<div>
</div>
</div>